<%= form_with(model: @invoice) do |form| %>
  <%# error message block %>
  <% if @invoice.errors.any? %>
    <div class="flash flash--alert">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
        <% @invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# form header same as modal header %>
  <div class="modal__header">New invoice </div>
  <%# form elements %>
  <div>
    <%= form.label :client_name %>
    <%= form.text_field :client_name, autofocus: true, class: "field field--client-name" %>
  </div>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, within: 0.01..999_999_99.99, step: 0.01, class: "field" %>
  </div>
  <div>
    <%= form.label :tax %>
    <%= form.number_field :tax, within: 0.01..999_999_99.99, step: 0.01, class: "field" %>
  </div>
  <%# form submission, same big button style (not inline button) %>
  <div>
    <%= form.submit class: "p-button" %>
  </div>
<% end %>
